In [8]:
import pandas as pd
import numpy as np
import os
import requests

In [9]:
# The code was removed by Watson Studio for sharing.

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),1332,729,127
Data Analysis / Statistics,1688,444,60
Data Journalism,429,1081,610
Data Visualization,1340,734,102
Deep Learning,1263,770,136
Machine Learning,1629,477,74

In [10]:
df_data_1.sort_values(by='Very interested', ascending=False)

,Very interested,Somewhat interested,Not interested
Data Analysis / Statistics,1688,444,60
Machine Learning,1629,477,74
Data Visualization,1340,734,102
Big Data (Spark / Hadoop),1332,729,127
Deep Learning,1263,770,136
Data Journalism,429,1081,610

In [11]:
df=df_data_1.div(2233).multiply(100)

In [12]:
df.round(2)

,Very interested,Somewhat interested,Not interested
Big Data (Spark / Hadoop),59.65,32.65,5.69
Data Analysis / Statistics,75.59,19.88,2.69
Data Journalism,19.21,48.41,27.32
Data Visualization,60.01,32.87,4.57
Deep Learning,56.56,34.48,6.09
Machine Learning,72.95,21.36,3.31

In [13]:
import matplotlib as mpl
import matplotlib.pyplot as plt

df.plot(kind='bar', figsize=(20,8), color=['#5cb85c','#5bc0de','#d9534f'])
plt.title("Percent of Respondents' Interest in Data Science Areas")
plt.show()

In [14]:

body =client_5d3dc57f161b413db84455d2374b5b67.get_object(Bucket='datascienceproject7-donotdelete-pr-bs7qbynmegfsow',Key='Police_Department_Incidents_-_Previous_Year__2016_.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_2 = pd.read_csv(body)
df_data_2.head()

,IncidntNum,Category,Descript,DayOfWeek,Date,Time,PdDistrict,Resolution,Address,X,Y,Location,PdId
0,120058272,WEAPON LAWS,POSS OF PROHIBITED WEAPON,Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212120
1,120058272,WEAPON LAWS,"FIREARM, LOADED, IN VEHICLE, POSSESSION OR USE",Friday,01/29/2016 12:00:00 AM,11:00,SOUTHERN,"ARREST, BOOKED",800 Block of BRYANT ST,-122.403405,37.775421,"(37.775420706711, -122.403404791479)",12005827212168
2,141059263,WARRANTS,WARRANT ARREST,Monday,04/25/2016 12:00:00 AM,14:59,BAYVIEW,"ARREST, BOOKED",KEITH ST / SHAFTER AV,-122.388856,37.729981,"(37.7299809672996, -122.388856204292)",14105926363010
3,160013662,NON-CRIMINAL,LOST PROPERTY,Tuesday,01/05/2016 12:00:00 AM,23:50,TENDERLOIN,NONE,JONES ST / OFARRELL ST,-122.412971,37.785788,"(37.7857883766888, -122.412970537591)",16001366271000
4,160002740,NON-CRIMINAL,LOST PROPERTY,Friday,01/01/2016 12:00:00 AM,00:30,MISSION,NONE,16TH ST / MISSION ST,-122.419672,37.765050,"(37.7650501214668, -122.419671780296)",16000274071000

In [15]:
df_data_2= df_data_2['PdDistrict'].value_counts().rename_axis('Neighborhood').reset_index(name='Count')

In [16]:
df_data_2.head(10)

  Neighborhood  Count
0     SOUTHERN  28445
1     NORTHERN  20100
2      MISSION  19503
3      CENTRAL  17666
4      BAYVIEW  14303
5    INGLESIDE  11594
6      TARAVAL  11325
7   TENDERLOIN   9942
8     RICHMOND   8922
9         PARK   8699

In [45]:
pd.read_json( https://cocl.us/sanfran_geojson)

SyntaxError: invalid syntax (<ipython-input-45-b3c59947df36>, line 1)

In [49]:

body = client_5d3dc57f161b413db84455d2374b5b67.get_object(Bucket='datascienceproject7-donotdelete-pr-bs7qbynmegfsow',Key='san-francisco.json')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object 

if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

# Since JSON data can be semi-structured and contain additional metadata, it is possible that you might face an error during data loading.
# Please read the documentation of 'pandas.read_json()' and 'pandas.io.json.json_normalize' to learn more about the possibilities to adjust the data loading.
# pandas documentation: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
# and http://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.json.json_normalize.html

In [51]:
import json
with open('san-francisco.json', "r") as read_file:
    data_file_4= json.load(read_file)

FileNotFoundError: [Errno 2] No such file or directory: 'san-francisco.json'

In [37]:
!wget --quiet https://cocl.us/sanfran_geojson.json -O sanfran_geojson.json
    
print('GeoJSON file downloaded!')

GeoJSON file downloaded!

In [35]:
san_fran_map=r'sanfran_geojson.json'

In [4]:
!conda install -c conda-forge folium=0.5.0 --yes

Solving environment: done

## Package Plan ##

  environment location: /opt/conda/envs/Python36

  added / updated specs:
    - folium=0.5.0


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    openssl-1.1.1g             |       h516909a_0         2.1 MB  conda-forge
    folium-0.5.0               |             py_0          45 KB  conda-forge
    certifi-2020.4.5.2         |   py36h9f0ad1d_0         152 KB  conda-forge
    vincent-0.4.4              |             py_1          28 KB  conda-forge
    branca-0.4.1               |             py_0          26 KB  conda-forge
    python_abi-3.6             |          1_cp36m           4 KB  conda-forge
    ca-certificates-2020.4.5.2 |       hecda079_0         147 KB  conda-forge
    altair-4.1.0               |             py_1         614 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

    altair:          4.1.0-py_1        conda-forge
    branca:          0.4.1-py_0        conda-forge
    folium:          0.5.0-py_0        conda-forge
    python_abi:      3.6-1_cp36m       conda-forge
    vincent:         0.4.4-py_1        conda-forge

The following packages will be UPDATED:

    ca-certificates: 2020.1.1-0                    --> 2020.4.5.2-hecda079_0     conda-forge
    certifi:         2020.4.5.1-py36_0             --> 2020.4.5.2-py36h9f0ad1d_0 conda-forge
    openssl:         1.1.1g-h7b6447c_0             --> 1.1.1g-h516909a_0         conda-forge


Downloading and Extracting Packages
openssl-1.1.1g       | 2.1 MB    | ##################################### | 100%
folium-0.5.0         | 45 KB     | ##################################### | 100%
certifi-2020.4.5.2   | 152 KB    | ##################################### | 100%
vincent-0.4.4        | 28 KB     | ##################################### | 100%
branca-0.4.1         | 26 KB     | ##################################### | 100%
python_abi-3.6       | 4 KB      | ##################################### | 100%
ca-certificates-2020 | 147 KB    | ##################################### | 100%
altair-4.1.0         | 614 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [19]:
import folium

In [31]:
world_map = folium.Map(location=[37.7749, 122.4194], zoom_start=12, tiles='Mapbox Bright')

In [32]:
df_data_2.head()

  Neighborhood  Count
0     SOUTHERN  28445
1     NORTHERN  20100
2      MISSION  19503
3      CENTRAL  17666
4      BAYVIEW  14303

In [42]:
world_map.choropleth(geo_data=df_data_3, data=df_data_2, columns=['Neighborhood', 'Count'], key_on='feature.properties.name', fill_color='YlOrRd', fill_opacity = 0.7, line_opacity=0.2, legend_name='Crime Rate in San Francisco', smooth_factor=0)

NameError: name 'df_data_3' is not defined