In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [8]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [16]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html=urlopen(url)

In [17]:
soup = BeautifulSoup(html,'lxml')
type(soup)

bs4.BeautifulSoup

In [18]:
rows = soup.find_all('tr')

In [19]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td align="center" style="border: 1px solid #FF0000; background-color: #FFE0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_A" title="List of postal codes of Canada: A">A</a>
</td>, <td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>, <td align="center" style="border: 1px solid #FF8000; background-color: #FFF0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_C" title="List of postal codes of Canada: C">C</a>
</td>, <td align="center" style="border: 1px solid #FFC000; background-color: #FFF8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_E" title="List of postal codes of Canada: E">E</a>
</td>, <td align="center" style="border: 1px solid #FFFF00; background-color: #FFFFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_G" title="List of postal codes of Canada: G">G</a>
</td>, <td align="center" style="border: 1px solid #C0FF00; background-color: #F8FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_H" title="List of postal codes of Canada: H">H</a>
</td>, <td align="center" style="border: 1px solid #80FF00; background-color: #F0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_J" title="List of postal codes of Canada: J">J</a>
</td>, <td align="center" style="border: 1px solid #00FF00; background-color: #E0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_K" title="List of postal codes of Canada: K">K</a>
</td>, <td align="center" style="border: 1px solid #00FF80; background-color: #E0FFF0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_L" title="List of postal codes of Canada: L">L</a>
</td>, <td align="center" style="border: 1px solid #E0FFF8; background-color: #00FFC0; font-size: 135%; color: black;" width="5%"><a class="mw-selflink selflink">M</a>
</td>, <td align="center" style="border: 1px solid #00FFE0; background-color: #E0FFFC; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_N" title="List of postal codes of Canada: N">N</a>
</td>, <td align="center" style="border: 1px solid #00FFFF; background-color: #E0FFFF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_P" title="List of postal codes of Canada: P">P</a>
</td>, <td align="center" style="border: 1px solid #00C0FF; background-color: #E0F8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_R" title="List of postal codes of Canada: R">R</a>
</td>, <td align="center" style="border: 1px solid #0080FF; background-color: #E0F0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_S" title="List of postal codes of Canada: S">S</a>
</td>, <td align="center" style="border: 1px solid #0040FF; background-color: #E0E8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_T" title="List of postal codes of Canada: T">T</a>
</td>, <td align="center" style="border: 1px solid #0000FF; background-color: #E0E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_V" title="List of postal codes of Canada: V">V</a>
</td>, <td align="center" style="border: 1px solid #A000FF; background-color: #E8E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_X" title="List of postal codes of Canada: X">X</a>
</td>, <td align="center" style="border: 1px solid #FF00FF; background-color: #FFE0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_Y" title="List of postal codes of Canada: Y">Y</a>
</td>]

bs4.element.ResultSet

In [20]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

In [21]:
import re

In [22]:
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '', str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

str

In [25]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1            [M1A\n, Not assigned\n, Not assigned\n]
2            [M2A\n, Not assigned\n, Not assigned\n]
3                 [M3A\n, North York\n, Parkwoods\n]
4          [M4A\n, North York\n, Victoria Village\n]
5  [M5A\n, Downtown Toronto\n, Regent Park, Harbo...
6  [M6A\n, North York\n, Lawrence Manor, Lawrence...
7  [M7A\n, Downtown Toronto\n, Queen's Park, Onta...
8            [M8A\n, Not assigned\n, Not assigned\n]
9  [M9A\n, Etobicoke\n, Islington Avenue, Humber ...

In [41]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A\n,Downtown Toronto\n,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,[M6A\n,North York\n,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,[M7A\n,Downtown Toronto\n,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,[M8A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,[M9A\n,Etobicoke\n,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [47]:
df1[0] = df1[0].str.strip('[')
df1[0] = df1[0].str.strip('\n')
df1[1] = df1[1].str.strip('\n')
df1[2] = df1[2].str.strip(']')
df1[2] = df1[2].str.strip('\n')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,M9A,Etobicoke,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [48]:
col_labels = soup.find_all('th')

In [49]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Postal Code\n, Borough\n, Neighborhood\n, Canadian postal codes\n]']

In [50]:
df2 = pd.DataFrame(all_header)

In [57]:
df3 = df2[0].str.split(',', expand=True)

In [58]:
frames = [df3,df1]
df4=pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[Postal Code\n,Borough\n,Neighborhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [63]:
df4[0] = df4[0].str.strip('[')
df4[0] = df4[0].str.strip('\n')
df4[0] = df4[0].str.strip(']')
df4[1] = df4[1].str.strip('\n')
df4[2] = df4[2].str.strip('\n')
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,"(0, 1, 2)"
0,Postal Code,Borough,Neighborhood,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postal Code
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,]
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M1A
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M2A
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M3A
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M4A
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M5A
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M6A
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M7A
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M8A

In [76]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,Postal Code,Borough,Neighborhood,Canadian postal codes ],nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,Postal Code
0,Postal Code,Borough,Neighborhood,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Postal Code
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,]
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M1A
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M2A
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,M3A

In [77]:
df6=df5[['Postal Code', ' Borough', ' Neighborhood']].copy()
df6.head(10)

   Postal Code  Postal Code            Borough       Neighborhood
0  Postal Code  Postal Code            Borough       Neighborhood
0                         ]               None               None
1          M1A          M1A       Not assigned       Not assigned
2          M2A          M2A       Not assigned       Not assigned
3          M3A          M3A         North York          Parkwoods
4          M4A          M4A         North York   Victoria Village
5          M5A          M5A   Downtown Toronto        Regent Park
6          M6A          M6A         North York     Lawrence Manor
7          M7A          M7A   Downtown Toronto       Queen's Park
8          M8A          M8A       Not assigned       Not assigned

In [87]:
df6=df6.loc[:,~df6.columns.duplicated()]
df6.head(10)

   Postal Code            Borough       Neighborhood
0  Postal Code            Borough       Neighborhood
0                            None               None
1          M1A       Not assigned       Not assigned
2          M2A       Not assigned       Not assigned
3          M3A         North York          Parkwoods
4          M4A         North York   Victoria Village
5          M5A   Downtown Toronto        Regent Park
6          M6A         North York     Lawrence Manor
7          M7A   Downtown Toronto       Queen's Park
8          M8A       Not assigned       Not assigned

In [91]:
df7=df6.drop(df6.index[0])
df7.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [249]:
df8=df7.drop(df7.index[181])

In [250]:
df8=df7.drop(df7.index[182])

In [251]:
df8=df7.drop(df7.index[183])

In [252]:
df8.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [253]:
df8=df8.rename(columns={' Borough':'Borough'})
df8=df8.rename(columns={' Neighborhood':'Neighborhood'})
df8.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [254]:
print(df8.columns)

Index(['Postal Code', 'Borough', 'Neighborhood'], dtype='object')

In [255]:
df8[df8.Borough == ' Not assigned'].shape

(77, 3)

In [256]:
indexNames = df8[df8['Borough'] == ' Not assigned'].index
df8.drop(indexNames, inplace=True)

In [257]:
df8.head()

  Postal Code            Borough       Neighborhood
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park
6         M6A         North York     Lawrence Manor
7         M7A   Downtown Toronto       Queen's Park

In [258]:
df8.drop(index=181,inplace=True)

In [259]:
df8.drop(index=182,inplace=True)

In [260]:
df8.drop(index=183,inplace=True)

In [264]:
df8.head(10)

   Postal Code            Borough       Neighborhood
3          M3A         North York          Parkwoods
4          M4A         North York   Victoria Village
5          M5A   Downtown Toronto        Regent Park
6          M6A         North York     Lawrence Manor
7          M7A   Downtown Toronto       Queen's Park
9          M9A          Etobicoke   Islington Avenue
10         M1B        Scarborough            Malvern
12         M3B         North York          Don Mills
13         M4B          East York      Parkview Hill
14         M5B   Downtown Toronto    Garden District

In [265]:
df8.shape

(103, 3)