In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
from urllib.request import urlopen
from bs4 import BeautifulSoup

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
html=urlopen(url)

In [9]:
soup = BeautifulSoup(html,'lxml')
type(soup)

bs4.BeautifulSoup

In [10]:
rows = soup.find_all('tr')

In [11]:
for row in rows:
    row_td = row.find_all('td')
print(row_td)
type(row_td)

[<td align="center" style="border: 1px solid #FF0000; background-color: #FFE0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_A" title="List of postal codes of Canada: A">A</a>
</td>, <td align="center" style="border: 1px solid #FF4000; background-color: #FFE8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_B" title="List of postal codes of Canada: B">B</a>
</td>, <td align="center" style="border: 1px solid #FF8000; background-color: #FFF0E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_C" title="List of postal codes of Canada: C">C</a>
</td>, <td align="center" style="border: 1px solid #FFC000; background-color: #FFF8E0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_E" title="List of postal codes of Canada: E">E</a>
</td>, <td align="center" style="border: 1px solid #FFFF00; background-color: #FFFFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_G" title="List of postal codes of Canada: G">G</a>
</td>, <td align="center" style="border: 1px solid #C0FF00; background-color: #F8FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_H" title="List of postal codes of Canada: H">H</a>
</td>, <td align="center" style="border: 1px solid #80FF00; background-color: #F0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_J" title="List of postal codes of Canada: J">J</a>
</td>, <td align="center" style="border: 1px solid #00FF00; background-color: #E0FFE0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_K" title="List of postal codes of Canada: K">K</a>
</td>, <td align="center" style="border: 1px solid #00FF80; background-color: #E0FFF0; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_L" title="List of postal codes of Canada: L">L</a>
</td>, <td align="center" style="border: 1px solid #E0FFF8; background-color: #00FFC0; font-size: 135%; color: black;" width="5%"><a class="mw-selflink selflink">M</a>
</td>, <td align="center" style="border: 1px solid #00FFE0; background-color: #E0FFFC; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_N" title="List of postal codes of Canada: N">N</a>
</td>, <td align="center" style="border: 1px solid #00FFFF; background-color: #E0FFFF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_P" title="List of postal codes of Canada: P">P</a>
</td>, <td align="center" style="border: 1px solid #00C0FF; background-color: #E0F8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_R" title="List of postal codes of Canada: R">R</a>
</td>, <td align="center" style="border: 1px solid #0080FF; background-color: #E0F0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_S" title="List of postal codes of Canada: S">S</a>
</td>, <td align="center" style="border: 1px solid #0040FF; background-color: #E0E8FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_T" title="List of postal codes of Canada: T">T</a>
</td>, <td align="center" style="border: 1px solid #0000FF; background-color: #E0E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_V" title="List of postal codes of Canada: V">V</a>
</td>, <td align="center" style="border: 1px solid #A000FF; background-color: #E8E0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_X" title="List of postal codes of Canada: X">X</a>
</td>, <td align="center" style="border: 1px solid #FF00FF; background-color: #FFE0FF; font-size: 135%;" width="5%"><a href="/wiki/List_of_postal_codes_of_Canada:_Y" title="List of postal codes of Canada: Y">Y</a>
</td>]

bs4.element.ResultSet

In [12]:
str_cells = str(row_td)
cleantext = BeautifulSoup(str_cells, "lxml").get_text()
print(cleantext)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

In [13]:
import re

In [14]:
list_rows = []
for row in rows:
    cells = row.find_all('td')
    str_cells = str(cells)
    clean = re.compile('<.*?>')
    clean2 = (re.sub(clean, '', str_cells))
    list_rows.append(clean2)
print(clean2)
type(clean2)

[A
, B
, C
, E
, G
, H
, J
, K
, L
, M
, N
, P
, R
, S
, T
, V
, X
, Y
]

str

In [15]:
df = pd.DataFrame(list_rows)
df.head(10)

                                                   0
0                                                 []
1            [M1A\n, Not assigned\n, Not assigned\n]
2            [M2A\n, Not assigned\n, Not assigned\n]
3                 [M3A\n, North York\n, Parkwoods\n]
4          [M4A\n, North York\n, Victoria Village\n]
5  [M5A\n, Downtown Toronto\n, Regent Park, Harbo...
6  [M6A\n, North York\n, Lawrence Manor, Lawrence...
7  [M7A\n, Downtown Toronto\n, Queen's Park, Onta...
8            [M8A\n, Not assigned\n, Not assigned\n]
9  [M9A\n, Etobicoke\n, Islington Avenue, Humber ...

In [16]:
df1 = df[0].str.split(',', expand=True)
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,[M1A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,[M2A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,[M3A\n,North York\n,Parkwoods\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,[M4A\n,North York\n,Victoria Village\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,[M5A\n,Downtown Toronto\n,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,[M6A\n,North York\n,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,[M7A\n,Downtown Toronto\n,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,[M8A\n,Not assigned\n,Not assigned\n],None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,[M9A\n,Etobicoke\n,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [17]:
df1[0] = df1[0].str.strip('[')
df1[0] = df1[0].str.strip('\n')
df1[1] = df1[1].str.strip('\n')
df1[2] = df1[2].str.strip(']')
df1[2] = df1[2].str.strip('\n')
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
9,M9A,Etobicoke,Islington Avenue,Humber Valley Village\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [18]:
col_labels = soup.find_all('th')

In [19]:
all_header = []
col_str = str(col_labels)
cleantext2 = BeautifulSoup(col_str, "lxml").get_text()
all_header.append(cleantext2)
print(all_header)

['[Postal Code\n, Borough\n, Neighborhood\n, Canadian postal codes\n]']

In [20]:
df2 = pd.DataFrame(all_header)

In [21]:
df3 = df2[0].str.split(',', expand=True)

In [22]:
frames = [df3,df1]
df4=pd.concat(frames)
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,[Postal Code\n,Borough\n,Neighborhood\n,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,],None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [23]:
df4[0] = df4[0].str.strip('[')
df4[0] = df4[0].str.strip('\n')
df4[0] = df4[0].str.strip(']')
df4[1] = df4[1].str.strip('\n')
df4[2] = df4[2].str.strip('\n')
df4.head(10)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,Postal Code,Borough,Neighborhood,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,M4A,North York,Victoria Village,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
5,M5A,Downtown Toronto,Regent Park,Harbourfront\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
6,M6A,North York,Lawrence Manor,Lawrence Heights\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
7,M7A,Downtown Toronto,Queen's Park,Ontario Provincial Government\n],None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
8,M8A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [24]:
df5 = df4.rename(columns=df4.iloc[0])
df5.head()

,Postal Code,Borough,Neighborhood,Canadian postal codes ],nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,nan,nan,nan
0,Postal Code,Borough,Neighborhood,Canadian postal codes\n],NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,M1A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,M2A,Not assigned,Not assigned,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,M3A,North York,Parkwoods,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [25]:
df6=df5[['Postal Code', ' Borough', ' Neighborhood']].copy()
df6.head(10)

   Postal Code            Borough       Neighborhood
0  Postal Code            Borough       Neighborhood
0                            None               None
1          M1A       Not assigned       Not assigned
2          M2A       Not assigned       Not assigned
3          M3A         North York          Parkwoods
4          M4A         North York   Victoria Village
5          M5A   Downtown Toronto        Regent Park
6          M6A         North York     Lawrence Manor
7          M7A   Downtown Toronto       Queen's Park
8          M8A       Not assigned       Not assigned

In [26]:
df6=df6.loc[:,~df6.columns.duplicated()]
df6.head(10)

   Postal Code            Borough       Neighborhood
0  Postal Code            Borough       Neighborhood
0                            None               None
1          M1A       Not assigned       Not assigned
2          M2A       Not assigned       Not assigned
3          M3A         North York          Parkwoods
4          M4A         North York   Victoria Village
5          M5A   Downtown Toronto        Regent Park
6          M6A         North York     Lawrence Manor
7          M7A   Downtown Toronto       Queen's Park
8          M8A       Not assigned       Not assigned

In [27]:
df7=df6.drop(df6.index[0])
df7.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [28]:
df8=df7.drop(df7.index[181])

In [29]:
df8=df7.drop(df7.index[182])

In [30]:
df8=df7.drop(df7.index[183])

In [31]:
df8.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [32]:
df8=df8.rename(columns={' Borough':'Borough'})
df8=df8.rename(columns={' Neighborhood':'Neighborhood'})
df8.head()

  Postal Code            Borough       Neighborhood
1         M1A       Not assigned       Not assigned
2         M2A       Not assigned       Not assigned
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park

In [33]:
print(df8.columns)

Index(['Postal Code', 'Borough', 'Neighborhood'], dtype='object')

In [34]:
df8[df8.Borough == ' Not assigned'].shape

(77, 3)

In [35]:
indexNames = df8[df8['Borough'] == ' Not assigned'].index
df8.drop(indexNames, inplace=True)

In [36]:
df8.head()

  Postal Code            Borough       Neighborhood
3         M3A         North York          Parkwoods
4         M4A         North York   Victoria Village
5         M5A   Downtown Toronto        Regent Park
6         M6A         North York     Lawrence Manor
7         M7A   Downtown Toronto       Queen's Park

In [37]:
df8.drop(index=181,inplace=True)

In [38]:
df8.drop(index=182,inplace=True)

In [39]:
df8.drop(index=183,inplace=True)

In [40]:
df8.head(10)

   Postal Code            Borough       Neighborhood
3          M3A         North York          Parkwoods
4          M4A         North York   Victoria Village
5          M5A   Downtown Toronto        Regent Park
6          M6A         North York     Lawrence Manor
7          M7A   Downtown Toronto       Queen's Park
9          M9A          Etobicoke   Islington Avenue
10         M1B        Scarborough            Malvern
12         M3B         North York          Don Mills
13         M4B          East York      Parkview Hill
14         M5B   Downtown Toronto    Garden District

In [41]:
df8.shape

(103, 3)

In [42]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [43]:
inner_join = pd.merge(df8, df_data_1, on='Postal Code', how='inner')
inner_join

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Regent Park,43.654260,-79.360636
3,M6A,North York,Lawrence Manor,43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,Malvern,43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,Parkview Hill,43.706397,-79.309937
9,M5B,Downtown Toronto,Garden District,43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,West Deane Park,43.650943,-79.554724
12,M1C,Scarborough,Rouge Hill,43.784535,-79.160497
13,M3C,North York,Don Mills,43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
17,M9C,Etobicoke,Eringate,43.643515,-79.577201
18,M1E,Scarborough,Guildwood,43.763573,-79.188711
19,M4E,East Toronto,The Beaches,43.676357,-79.293031
20,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306
21,M6E,York,Caledonia-Fairbanks,43.689026,-79.453512
22,M1G,Scarborough,Woburn,43.770992,-79.216917
23,M4G,East York,Leaside,43.709060,-79.363452
24,M5G,Downtown Toronto,Central Bay Street,43.657952,-79.387383
25,M6G,Downtown Toronto,Christie,43.669542,-79.422564
26,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
27,M2H,North York,Hillcrest Village,43.803762,-79.363452
28,M3H,North York,Bathurst Manor,43.754328,-79.442259
29,M4H,East York,Thorncliffe Park,43.705369,-79.349372
...,...,...,...,...,...
73,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
74,M5R,Central Toronto,The Annex,43.672710,-79.405678
75,M6R,West Toronto,Parkdale,43.648960,-79.456325
76,M7R,Mississauga,Canada Post Gateway Processing Centre,43.636966,-79.615819
77,M9R,Etobicoke,Kingsview Village,43.688905,-79.554724
78,M1S,Scarborough,Agincourt,43.794200,-79.262029
79,M4S,Central Toronto,Davisville,43.704324,-79.388790
80,M5S,Downtown Toronto,University of Toronto,43.662696,-79.400049
81,M6S,West Toronto,Runnymede,43.651571,-79.484450
82,M1T,Scarborough,Clarks Corners,43.781638,-79.304302
83,M4T,Central Toronto,Moore Park,43.689574,-79.383160
84,M5T,Downtown Toronto,Kensington Market,43.653206,-79.400049
85,M1V,Scarborough,Milliken,43.815252,-79.284577
86,M4V,Central Toronto,Summerhill West,43.686412,-79.400049
87,M5V,Downtown Toronto,CN Tower,43.628947,-79.394420
88,M8V,Etobicoke,New Toronto,43.605647,-79.501321
89,M9V,Etobicoke,South Steeles,43.739416,-79.588437
90,M1W,Scarborough,Steeles West,43.799525,-79.318389
91,M4W,Downtown Toronto,Rosedale,43.679563,-79.377529
92,M5W,Downtown Toronto,Stn A PO Boxes,43.646435,-79.374846
93,M8W,Etobicoke,Alderwood,43.602414,-79.543484
94,M9W,Etobicoke,Northwest,43.706748,-79.594054
95,M1X,Scarborough,Upper Rouge,43.836125,-79.205636
96,M4X,Downtown Toronto,St. James Town,43.667967,-79.367675
97,M5X,Downtown Toronto,First Canadian Place,43.648429,-79.382280
98,M8X,Etobicoke,The Kingsway,43.653654,-79.506944
99,M4Y,Downtown Toronto,Church and Wellesley,43.665860,-79.383160
100,M7Y,East Toronto,Business reply mail Processing Centre,43.662744,-79.321558
101,M8Y,Etobicoke,Old Mill South,43.636258,-79.498509
102,M8Z,Etobicoke,Mimico NW,43.628841,-79.520999